@model List<CarritoItem>
//Este código es una vista que muestra el carrito de compras. Si no hay productos, indica que está vacío
; si hay, los lista en una tabla con nombre, precio, cantidad y total por producto.
<h2>Carrito de Compras</h2>

@if (Model == null || !Model.Any())
{
    <p>El carrito está vacío</p>
}
else
{//Este código es una vista que muestra el carrito de compras. Si no hay productos, indica que está vacío; si hay
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Precio.ToString("C")</td>
                    <td>@item.Cantidad</td>
                    <td>@(item.Precio* item.Cantidad)</td>
                </tr>
            }
            <a class="btn btn-success" asp-controller="Carrito" asp-action="FinalizarCompra">Finaliza Compra</a>
        </tbody>
    </table>
}