@{
ViewData["Title"] = "Integrantes";
}

<h1>Integrantes Del Proyecto</h1>

<ul>
    <li>Estiben Acuña Garita</li>
    Programador FullStack y Lider
    <li>Jose Victor Gutiérrez Mora</li>
    Programador FrontEnd #1
    <li>Daniel Quiros Madrigal</li>
    Programador FrontEnd #2
    <li>Estiven Retana Paniagua</li>
    Programador Backend #1
    <li>Josvy Ortiz Salazar</li>
    Programador Backend #2
</ul>